ML_Template/input/*.csv
ML_Template/models/*.bin
Cross_Validation/*.csv
Categorical_Values/*.csv
Categorical_Values_2/*.csv
image_classification_segmentation/siim
Hyperparameter_Optimization/input
nlp/input
IMDBReviews/input
*/input
venv